<div align="center">

    <h1>User Registration</h1>
    <h3 style="color: green">{{form.successMsg}}</h3>
    <h3 style="color:red">{{form.errorMsg}}</h3>
    <form (submit)="signUp()">

        <table>

            <tr>
                <th>FirstName</th>
                <td><input type="text" name="firstName" [(ngModel)]="form.data.firstName"
                        placeholder="Enter your firstName">
                </td>
                <td style="color: red;">{{form.inputerror.firstName}}</td>
            </tr>

            <tr>
                <th>LastName</th>
                <td><input type="text" name="lastName" [(ngModel)]="form.data.lastName"
                        placeholder="Enter your lastName">
                </td>
                <td style="color: red;">{{form.inputerror.lastName}}</td>
            </tr>

            <tr>
                <th>Login</th>
                <td><input type="text" name="loginId" [(ngModel)]="form.data.loginId" placeholder="Enter your email">
                </td>
                <td style="color: red;">{{form.inputerror.loginId}}</td>
            </tr>

            <tr>
                <th>Password</th>
                <td><input type="password" name="password" [(ngModel)]="form.data.password"
                        placeholder="Enter your password"></td>
                <td style="color: red;">{{form.inputerror.password}}</td>
            </tr>

            <tr>
                <th>Dob</th>
                <td><input type="date" name="dob" [(ngModel)]="form.data.dob"> </td>
                <td style="color: red;">{{form.inputerror.dob}}</td>
            </tr>

            <tr>
                <th></th>
                <td><input type="submit" value="signup"></td>
            </tr>

        </table>

    </form>

</div>